version: '3.6'
networks:
  default:
    name: techlead-net
    external: true

services:
  # User Service
  user-services:
    container_name: user-service
    build:
      context: .
      dockerfile: ./services/user_management/Dockerfile
    restart: always
    ports:
      - 8181:8081
    environment:
      - DB_USER=admin
      - DB_PASSWORD=Admin2022
      - DB_NAME=pharmacy
      - DB_HOST=postgres-service
      - DB_PORT=5432
      - API_ROOT_PATH=/api/v1/user
    # command: uvicorn services.user_management_service.main:app --reload --host "0.0.0.0" --port 8080

  # Store Service
  store-services:
    container_name: store-services
    build: 
      context: .
      dockerfile: ./services/store_management/Dockerfile
    restart: always
    ports:
      - 8182:8082
    environment:
      - DB_USER=admin
      - DB_PASSWORD=Admin2022
      - DB_NAME=pharmacy
      - DB_HOST=postgres-service
      - DB_PORT=5432
      - API_ROOT_PATH=/api/v1/store

  # Order Service
  order-services:
    container_name: order-services
    build: 
      context: .
      dockerfile: ./services/order_management/Dockerfile
    restart: always
    ports:
      - 8183:8083
    environment:
      - DB_USER=admin
      - DB_PASSWORD=Admin2022
      - DB_NAME=pharmacy
      - DB_HOST=postgres-service
      - DB_PORT=5432
      - API_ROOT_PATH=/api/v1/order
