version: '3.6'
services:
  postgres:
    image: postgres
    restart: always
    ports:
    - 0.0.0.0:5435:5432
    volumes:
    - ./db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: 12345
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_MULTIPLE_DATABASES: user_db,store_db,stock_db,order_db,item_db

  user_service:
    # image: techlead-user-management:0.0.1  
    build:
      context: .
      dockerfile: ./services/user_management/deployment/Dockerfile
    ports:
      - 0.0.0.0:8030:8080
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=12345
      - DB_NAME=user_db
    volumes:
      - ./:/app

  item_service:
    build:
      context: .
      dockerfile: ./services/item_management/deployment/Dockerfile
    ports:
      - 0.0.0.0:8040:8080
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: 12345
      DB_NAME: store_db
    volumes:
      - ./:/app

  # stock_service:
  #   build:
  #     context: .
  #     dockerfile: ./services/stock_management/deployment/Dockerfile
  #   ports:
  #     - 0.0.0.0:8050:8080
  #   environment:
  #     DB_HOST: postgres
  #     DB_PORT: 5432
  #     DB_USER: postgres
  #     DB_PASSWORD: 12345
  #     DB_NAME: stock_db

  # order_service:
  #   build:
  #     context: .
  #     dockerfile: ./services/order_management/deployment/Dockerfile
  #   ports:
  #     - 0.0.0.0:8060:8080
  #   environment:
  #     DB_HOST: postgres
  #     DB_PORT: 5432
  #     DB_USER: postgres
  #     DB_PASSWORD: 12345
  #     DB_NAME: order_db
